@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  display: flex;
  font-family: roboto, sans-serif;
}
.contactos {
  background-color: #fff;
  width: 20%;
  height: 100vh;
  border: 0.5px solid #bec1bb94;
}
.cont-primero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  border: 0.5px solid #bec1bb94;
}
.cont-maria {
  display: flex;
  justify-content: space-around;
  font-size: smaller;
  width: 50%;
}
.cont-icono {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.cont-maria,
h1 {
  font-size: smaller;
}
.activa {
  color: #bec1bb;
}
.btn-chat {
  background-color: #a491d2;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
}
.img-principal {
  width: 30px;
  border-radius: 50px;
}

.img-secundaria {
  width: 45px;
  border-radius: 50px;
}
.cont-chico {
  height: 9%;
  border: 0.5px solid #bec1bb94;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cont-grande {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border: 0.5px solid #bec1bb94;
}

.section {
  background-color: #e8ebe4;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40%;
  padding-bottom: 25px;
  border-radius: 10px;
}

.contenedor-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 55%;
}

.contenedor-sect h1 {
  font-size: 45px;
  font-weight: 400;
}
.contenedor-sect p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
